<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Heroku Archival - GDPR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="../assets/css/herokuStyles.css" />
</head>
<body>
	<div class="topcont">
		<div class="brandsec">
			<img src="../assets/img/amazonlogo.jpg" width="85%" alt="AmazonLogo" />
		</div>
		<div class="rgtsect">
			<h1>
				<b>Heroku Archival - GDPR</b>
			</h1>
			<img src="../assets/img/gdpr.jpg" width="7%" alt="GDPRLogo" />
		</div>
	</div>

	<div class="wrapper">
		<nav role="main">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/inputDetails" class="active">Current Input Details</a></li>
				<li><a href="/salesforceDetails">Salesforce Details</a></li>
				<li><a href="/gdprInput">GDPR Depersonalization</a></li>
				<li><a href="/">Scheduler Information</a></li>
				<li><a href="/">Job Information</a></li>
			</ul>
		</nav>
		<main>
		<h1>
			<b>Current Input Details Page</b>
		</h1>
		<div class="flex-grid">
			<div class="userDetail">
				<h2>
					<b>User Details</b>
				</h2>
				<table id="inputDetailsTable" class="tabularFormat">
					<th>
					<td>Id</td>
					<td>sfid</td>
					<td>Name</td>
					<td>Alias</td>
					<td>Username</td>
					</th>
					<!-- <tr th:each="contact : ${users}">
						<td></td>
						<td th:text="${contact.id}"></td>
						<td th:text="${contact.sfid}"></td>
						<td th:text="${contact.name}"></td>
						<td th:text="${contact.alias}"></td>
						<td th:text="${contact.Username}"></td>
					</tr>  -->
				</table>
			</div>
			<div class="categoryDetail">
				<h2>
					<b>Category Details</b>
				</h2>
				<table id="inputDetailsTable">
					<th>
					<td>Id</td>
					<td>Category Name</td>
					<td>Status</td>
					</th>
					<!-- <tr th:each="category : ${categories}">
						<td></td>
						<td th:text="${category.categoryId}"></td>
						<td th:text="${category.categoryName}"></td>
						<td th:text="${category.status}"></td>
					</tr> -->
				</table>
			</div>
		</div>

		</main>
	</div>
</body>
</html>