<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Heroku Archival - GDPR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" type="text/css"
	href="../assets/css/herokuStyles.css" /> 
</head>
<body>
	 <div class="topcont">
		<div class="brandsec">
			<img src="../assets/img/amazonlogo.jpg" width="85%" alt="AmazonLogo" />
		</div>
		<div class="rgtsect">
			<h1>
				<b>Heroku Archival - GDPR</b>
			</h1>
			<img src="../assets/img/gdpr.jpg" width="7%" alt="GDPRLogo" />
		</div>
	</div>
	<div class="wrapper">
		<nav role="main">
			<ul>
				<li><a href="/" class="active">Home</a></li>
				<li><a href="/inputDetails">Current Input Details</a></li>
				<li><a href="/salesforceDetails">Salesforce Details</a></li>
				<li><a href="/gdprInput">GDPR Depersonalization</a></li>
				<li><a href="/">Scheduler Information</a></li>
				<li><a href="/">Job Information</a></li>
			</ul>
		</nav>
		<main>
		<h1>
			<b>Home Page</b>
		</h1>
		<div class="flex-grid">
			<div>
				<h2>
					<b>Welcome to Heroku - GDPR Home page</b>
				</h2>
				Details about the project will be displayed.
			</div>
		</div>
		</main>
	</div> 

</body> 
</html>